.titleEdit {
    font-family: "Baloo Bhai", cursive;
    text-transform: uppercase;
    color: #ffb200;
    font-size: 50px;
    margin-top: -50px;
    margin-bottom: 50px;
}

.measure-ingredient-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.edit-cocktail-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.inputEdit {
    display: block;
    margin: 20px 0;
    /* width: 100%; */
    padding: 5px 10px;
    font-size: 13px;
    background: #f2f4f5;
    border: none;
    width: 100%;
}

.btn-Edit {
    display: block;
    background: #ffb200;
    padding: 9px 40px;
    border-radius: 5px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    margin: auto;
    /* margin-top: 12%; */
}

.add-Ingredient-title {
    font-family: "Baloo Bhai", cursive;
    text-transform: uppercase;
    color: #ffb200;
    margin-bottom: 20px;
}

.ingredients-list-edit {
    width: 100%;
}

.fa-plus:hover,
.fa-minus:hover {
    cursor: pointer;
}

/* .addCocktail {
    display: flex;
    flex-direction: row;
} */

.ingredientAndMeasureContainer {
    display: flex;
    align-items: center;
}

.inputIngredientContainer {
    display: flex;
}