body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: white;
  min-height: 100vh;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: black;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: orange;
}

h1 {
  font-family: "Baloo Bhai", cursive;
  text-transform: uppercase;
  color: #ffb200;
}

h4 {
  display: block;
  font-family: "Baloo Bhai", cursive;
  margin: 0 0 20px 0 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f2f4f5 inset !important;
}

.page-container {
  padding: 60px 0;
}

*:focus {
  outline: none !important;
}

.App {
  text-align: center;
}

.nav-bar {
  padding: 0 20px;
  height: 60px;
  background-color: black;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  padding-right: 5px;
  margin: 2px;
}

.home-nav {
  padding-left: 5px;
}

.edit-cocktail-container {
  padding-top: 10%;
}

.measure-ingredient-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}

.edit-measures {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.edit-ingredients {
  display: flex;
  flex-direction: column;
  padding: 2%;
}
