.user-cocktail-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  .dropdown-container {
    display: flex;
    justify-content: space-between;
  }
}
.Manage {
  margin-right: 10%;
  .fa-trash {
    padding-top: 8%;
  }
  // display: inline-block;
  // background: #ffb200;
  // padding: 9px 40px;
  // border-radius: 5px;
  // color: #fff !important;
  // border: none !important;
  // font-size: 2em;

  // text-transform: uppercase;
}
